{% extends 'base.jinja2' %}

{% block subtitle %}Create new donation{% endblock subtitle %}

{% block content %}
    <p>Donation added : <span id="donationadded">{{ session.donation }}</span></p>
    <form method="POST">
        <label for="donor">Donated by: </label><input type="text" id="name" name="name">
        <input type="submit" value="Submit">
        <br>
        <br>
        <label for="donation">Donation amount: </label><input type="number" id="donation" name="donation" min=0>
        <input type="submit" value="Submit">
    </form>
    <form method="POST" action ="{{ url_for('save') }}">
        <input type="submit" value="Save It">
    </form>
{% endblock content %}